<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/Stylesheets/tasks.css">
</head>
<body>
    <%- include('common/header') %>

    <h1>Home page</h1>
    <a href="/auth/google">Authenticate with Google</a>

    <button id="startTimerButton" onclick="startTimer()">Start timer</button>

    <button id="stopTimerButton" onclick="stopTimer()">Stop timer</button>

    <p id="showTimeElapsed"></p>

    <button id="wasteTimeIncrementButton" onclick="incrementTimeWasted()" style="visibility: hidden;">wasted time +1 min</button>

    <form id="saveTaskForm" action="/saveTask" method="post">
        <p id="timeStartP"></p>
        <br>
        <p id="timeStopP"></p>
        <input id="taskStartTimeInput" type="datetime-local" name="taskStartTime">
        <input id="taskStopTimeInput" type="datetime-local" name="taskStopTime">
        <input id="taskNameInput" placeholder="task name" type="text" name="taskName">
        <br>
        <input id="taskDescriptionInput" placeholder="task description" type="text" name="taskDescription">
        <br>
        <input id="timeWastedInput" placeholder="time wasted" type="text" name="timeWasted">
        <br>
        <button type="submit">Save</button>
    </form>

    <script src="/Javascripts/tasks.js"></script>
</body>
</html>