<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/Stylesheets/home.css">
</head>

<body>
    <%- include('common/header') %>

        <h1>Home page</h1>

        <button id="startTimerButton" onclick="startTimer()">Start timer</button>

        <button id="stopTimerButton" onclick="stopTimer()">Stop timer</button>

        <p id="showTimeElapsed"></p>

        <p id="showTimeWasted"></p>

        <button id="wasteTimeIncrementButton" onclick="incrementTimeWasted()" style="visibility: hidden;">wasted time +1
            min</button>

        <div class="container">
            <form class="box" id="saveTaskForm" action="/saveTask" method="post">
                <h2>Save Task</h2>
                <p id="timeStartP"></p>
                <br>
                <p id="timeStopP"></p>
                <label for="taskStartTimeInput">Task Start Time</label> <br>
                <input id="taskStartTimeInput" type="datetime-local" name="taskStartTime"> <br>
                <br>
                <label for="taskStopTimeInput">Task Stop Time</label> <br>
                <input id="taskStopTimeInput" type="datetime-local" name="taskStopTime"> <br>
                <br>
                <label for="taskDescriptionInput">Task Name</label>
                <input id="taskDescriptionInput" placeholder="task name" type="text" name="taskName">
                <br>
                <label for="taskDescriptionInput">Task Description</label>
                <input id="taskDescriptionInput" placeholder="task description" type="text" name="taskDescription">
                <br>
                <label for="timeWastedInput">Minutes Wasted</label>
                <input id="timeWastedInput" placeholder="time wasted" type="text" name="timeWasted">
                <br>
                <button class="submitButton" type="submit">Save</button>
            </form>
        </div>
        

        <script src="/Javascripts/tasks.js"></script>
</body>

</html>