<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="">
</head>
<body>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Tasks</a></li>
    </ul>

    <h1>Tasks page</h1>

    <% tasks.forEach( task => { %>
        
        <p>task name: <%= task["task"].task_name %></p>
        <p>task description: <%= task["task"].task_description %></p>

        <% if (task["time_session"]) { %>
            <p>start time: <%= task["time_session"].start_time %></p>
            <p>stop time: <%= task["time_session"].stop_time %></p>
        <% } else { %>
            <p>start time: None</p>
            <p>stop time: None</p>
        <% } %>
        <hr>
    
    <% }) %>

    <script src=""></script>
</body>
</html>