#saveTaskForm {
    visibility: hidden;
}

body {
    margin: 0;
}

dialog {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}

label {
    display: block;
    font-size: large;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="datetime-local"] {
    background-color: rgb(34, 80, 179);
    padding: 5px;
    color: white;
    font-size: large;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.submitButton {
    background-color: green;
    color: white;
    font-size: large;
    width: 100px;
}