body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background: #f3f4f6;

    height: 100vh;  
    display: flex; 
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    display: flex;
    gap: 40px;

    width: 900px;
    max-width: 95%;
    align-items: center;
}

.info {
    flex: 1;
}


.info h1 {
    margin-top: 0;
    font-size: 32px;
    color: #111;
}

.info p {
    color: #444;
    line-height: 1.5;
} 

.info ul {
    padding-left: 20px;
    color: #333;
    line-height: 1.8;
}

/* LOGIN CARD */
.center {
    width: 320px;
    padding: 30px 20px;

    background: white;
    border-radius: 12px;

    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    text-align: center; 
}

.center h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

/* BUTTON */
.btn-165 {
    width: 100%;
    padding: 10px 20px; 
    font-size: 14px;
    font-weight: 700;

    border-radius: 8px;
    border: 1px solid #bebebe;

    background: #fff;
    cursor: pointer;
    display: inline-flex;

    
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-165 svg {
    height: 22px;
}

.btn-165:hover {
    border: 1px solid #464545;
}

.btn-165:active {
    transform: translateY(1px);
}

.small-text {
    margin-top: 15px;
    font-size: 13px;
    color: #666; 
}

@media (max-width: 800px) {
    .login-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .info ul {
        list-style: none;
        padding: 0;
    }
}